@tailwind base;
@tailwind components;
@tailwind utilities;

.art {
  font-size: 30px;
  transform: translate(-10%, -10%);
  animation: myFirst 1.5s infinite linear;
}

@keyframes myFirst {
  0% {
    transform: translate(-10%, -10%) rotate(0deg);
  }
  100% {
    transform: translate(-10%, -10%) rotate(360deg);
  }
}
